<a href="https://colab.research.google.com/github/shntylt1/Basic-Python-Programming-for-Data-Science/blob/main/%5BKD0301%5D_List_String_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1Jnmc3tPdh1jxyNwURPKEqzpM_qdEwaJc
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk program **Kelas Dasar Pejuang Data 2.0** .

Ini adalah **Notebook, List, String, & Dictionary Pada Python**:

## **Hasil Yang Ingin Dicapai**
1. Memahami List Pada Python
2. Mengenal dan memahami method-method pada List Python
3. Memahami String Pada Python
4. Mengenal dan memahami method-method pada String Python
5. Memahami Dictionary Pada Python
6. Mengenal dan memahami method-method pada Dictionary Python

# **List Pada Python**
List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

## Membuat List

In [6]:
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
print(matkul)
matkul

['1.Matdis', '2.Statmat', '3.RO', '4.Graff', '5.Kaljut']

['1.Matdis', '2.Statmat', '3.RO', '4.Graff', '5.Kaljut']

## Mengakses elemen List

Menampilkan elemen
caranya dengan menggunakan fungsi print

In [7]:
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
print(matkul[0])
print(matkul[2:])
print(matkul[3:])
print(matkul[0:3:2])
print(matkul[0:5:2])
print(matkul[-2])
print(matkul[-5])
print(matkul[-5:-1])
print(matkul[-5:1])

1.Matdis
['3.RO', '4.Graff', '5.Kaljut']
['4.Graff', '5.Kaljut']
['1.Matdis', '3.RO']
['1.Matdis', '3.RO', '5.Kaljut']
4.Graff
1.Matdis
['1.Matdis', '2.Statmat', '3.RO', '4.Graff']
['1.Matdis']

## Mengubah elemen List

cara mengubah elemen dalam list

In [8]:
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
matkul[3] = "aktuaria"
print(matkul)

['1.Matdis', '2.Statmat', '3.RO', 'aktuaria', '5.Kaljut']

## Looping di dalam List

looping pada list

In [9]:
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]

for x in matkul:
  print(x)

1.Matdis
2.Statmat
3.RO
4.Graff
5.Kaljut

## Cek elemen pada List

cara mengecek apakah suatu elemen berada dalam list

In [10]:
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
if "3.RO" in matkul:
  print('3.RO termasuk matkul')

3.RO termasuk matkul

## Menghitung jumlah elemen List

cara mengetahui jumlah elemen dalam list

In [11]:
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
print(len(matkul))

5

# **Berbagai Method untuk List pada Python**

## Menambah elemen List

cara menambahkan elemen dalam list
ada 2 cara untuk menambahkan elemen pada list, yaitu;
1. menggunakan metode append()
2. menggunakan metode insert()

In [12]:
#metode append : menambahkan elemen pada baris terakhir
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
matkul.append("Anreg")
print(matkul)

['1.Matdis', '2.Statmat', '3.RO', '4.Graff', '5.Kaljut', 'Anreg']

In [13]:
#metode insert : memasukkan elemen pada baris tertentu
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
matkul.insert(1, 'Anriil')
matkul.insert(5, 'Sastra')
print(matkul)

['1.Matdis', 'Anriil', '2.Statmat', '3.RO', '4.Graff', 'Sastra', '5.Kaljut']

## Menghapus elemen List

menghapus elemen dalam list
ada beberapa cara untuk menghapus elemen
1. menggunakan keyword del
2. menggunakan metode remove()
3. menggunakan metode pop()
4. menggunakan metode clear()

In [14]:
#menggunakan keyword del,(bukan hanya bisa menghapus elemen tapi bisa juga untuk mnghapus list)
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
del matkul[3]
print(matkul)

['1.Matdis', '2.Statmat', '3.RO', '5.Kaljut']

In [15]:
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
del matkul[3]
print(matkul)

['1.Matdis', '2.Statmat', '3.RO', '5.Kaljut']

In [16]:
#menggunakan metode remove(): menggunakan remove() harus menyebutkan nama elemennya langsung
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
matkul.remove("2.Statmat")
print(matkul)

['1.Matdis', '3.RO', '4.Graff', '5.Kaljut']

In [17]:
#menggunakan metode pop(a): menghapus elemen baris ke-a atau baris terakhir
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
matkul.pop(2)
matkul.pop()
print(matkul)

['1.Matdis', '2.Statmat', '4.Graff']

In [18]:
#menggunakan metode clear(): menghapus seluruh elemen pada list
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
matkul.clear()
print(matkul)

[]

## Mengkopi List

copy list
ada 2 cara untuk copy list
1. menggunakan metode copy()
2. menggunakan metode list()

In [19]:
#menggunakan metode copy()
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
matlah = matkul.copy()
print(matlah)

['1.Matdis', '2.Statmat', '3.RO', '4.Graff', '5.Kaljut']

In [20]:
#menggunakan metode list()
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
matlah = list(matkul)
print(matlah)

['1.Matdis', '2.Statmat', '3.RO', '4.Graff', '5.Kaljut']

## Menggabung List

cara menggabungkan 2 list
1. menggunakan tanda +
2. menggunakan metode append()
3. menggunakan metode extend()

In [21]:
#menggnakan tanda +
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
nilai = [3.3, 3.6, 3.9, 4, 4]

hasil = matkul + nilai
print(hasil)

['1.Matdis', '2.Statmat', '3.RO', '4.Graff', '5.Kaljut', 3.3, 3.6, 3.9, 4, 4]

In [22]:
#menggunakan metode append
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
nilai = [3.3, 3.6, 3.9, 4, 4]

for x in nilai:
  matkul.append(x)

print(matkul)

['1.Matdis', '2.Statmat', '3.RO', '4.Graff', '5.Kaljut', 3.3, 3.6, 3.9, 4, 4]

In [23]:
#menggunakan metode extend
matkul = ["1.Matdis", "2.Statmat", "3.RO" , "4.Graff", "5.Kaljut"]
nilai = [3.3, 3.6, 3.9, 4, 4]

matkul.extend(nilai)
print(matkul)

['1.Matdis', '2.Statmat', '3.RO', '4.Graff', '5.Kaljut', 3.3, 3.6, 3.9, 4, 4]

# **String pada Python**

## *String Literals*
####String literal dalam python diapit oleh tanda kutip tunggal, atau tanda kutip ganda
####'Buku' = "Buku" dalam python ini sama saja
####Anda dapat menampilkan literal string dengan fungsi print ():

In [24]:
#Contoh :
print("Hello")
print('Hello')

Hello
Hello

Expected output:
```
Hello
Hello
```

In [25]:
#Mulai Program mu....^_^
print("Ada apa denganmu hari ini?")
print('Ada apa denganmu hari ini?')

Ada apa denganmu hari ini?
Ada apa denganmu hari ini?

## *Assign String to a Variable*
####Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan stringnya:

In [26]:
#Contoh
a = "Hello"
print(a)

Hello

Expected output:
```
Hello
```
Penjelasan :
a adalah variabel
kemudian diikuti tanda samadengan =
kemudian masukkan nilai berupa string yaitu "Hello"

In [27]:
#Mulai Program mu....^_^
b = "Kamu bukan siapa-siapa, pun juga dia!!!"
print(b)

Kamu bukan siapa-siapa, pun juga dia!!!

## *Multiline Strings*
####Kita dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip:

In [28]:
#Contoh 1
a = '''PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.'''
print(a)

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

```

In [29]:
#Mulai Program mu....^_^
c = '''Hari ini kumulai belajar,
seharusnya sudah selesai dari kemarin
tapi ya udahlah ya, yang penting never stop learning.'''
print(c)

Hari ini kumulai belajar,
seharusnya sudah selesai dari kemarin
tapi ya udahlah ya, yang penting never stop learning.

Kita bisa juga menggunakan double tanda kutip, misal : ```"""stringnya"""```

In [30]:
#Contoh 2
a = """PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika."""
print(a)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.
```

Penjelasan : jeda baris disisipkan pada posisi yang sama seperti pada kode.

In [31]:
#Mulai Program mu....^_^
c = """Hari ini kumulai belajar,
seharusnya sudah selesai dari kemarin
tapi ya udahlah ya, yang penting never stop learning."""
print(c)

Hari ini kumulai belajar,
seharusnya sudah selesai dari kemarin
tapi ya udahlah ya, yang penting never stop learning.

## *Strings are Arrays*
####Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.
####Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1
####Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [32]:
#Contoh
a = "Hello, World!"
print(a[1])

e

Expected output:
```
e
```
Penjelasan : Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [33]:
#Mulai Program mu....^_^
b = "Kamu bukan siapa-siapa, pun juga dia!!!"
print(b[5])

b

## *Slicing*
####Anda dapat mengembalikan berbagai karakter dengan menggunakan sintaksis slice.
####Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [34]:
#Contoh :
b = "Hello, World!"
print(b[2:5])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):

llo

Expected output:
```
llo
```

In [35]:
#Mulai Program mu....^_^
b = "Kamu bukan siapa-siapa, pun juga dia!!!"
print(b[5:11])
print(b[3:14:2])

bukan
ubknsa

## *Negative Indexing*
Gunakan indeks negatif untuk memulai potongan dari ujung string:

In [36]:
#Contoh
b = "Hello, World!"
print(b[-5:-2])
#Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string:

orl

Expected output:
```
orl
```

In [37]:
#Mulai Program mu....^_^
b = "Kamu bukan siapa-siapa, pun juga dia!!!"
print(b[-11:-1])

juga dia!!

In [38]:
#Contoh
a = "Hello, World!"
print(len(a))
#Fungsi len () mengembalikan panjang string:

13

Expected Output :
```
13
```

In [39]:
#Mulai Program mu....^_^
b = "Kamu bukan siapa-siapa, pun juga dia!!!"
print(len(b))

39

## *Check String*
Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in

In [40]:
#Contoh 1
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" in txt
print(x)

True

Expected Output :
```
True
```

In [41]:
#Mulai Program mu....^_^
txt = "Kamu bukan siapa-siapa, pun juga dia!!!"
x = "apa" in txt
print(x)

True

In [42]:
#Contoh
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" not in txt
print(x)

False

Expected Output :
```
False
```

In [43]:
#Mulai Program mu....^_^
b = "Kamu bukan siapa-siapa, pun juga dia!!!"
x = "apa" not in b
print(x)

False

## *String Concatenation*
Untuk menggabungkan, atau menggabungkan, dua string Anda dapat menggunakan operator +.

In [44]:
#Contoh
#Gabungkan variabel a dengan variabel b menjadi variabel c
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Output :
```
HelloWorld
```

In [45]:
#Mulai Program mu....^_^
a = "materi"
b = "bagian 3.1"
c = a+b
print(c)

materibagian 3.1

In [46]:
#Contoh
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Output :
```
Hello World
```

In [47]:
#Mulai Program mu....
a = "materi"
b = "bagian 3.1"
c = a+" "+b
print(c)

materi bagian 3.1

##**String Format**
####Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini:

In [48]:
#Contoh
umur = "17"
txt = "Nama saya Shintia, saya " + umur
print(txt)

Nama saya Shintia, saya 17

Output :
```
Nama saya Shintia, saya 17
```

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format ()!

Metode format () mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada:

# *Berbagai Method untuk String pada Python*

Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

### Strip()

Method strip() berfungsi untuk menghapus spasi apa pun dari awal atau akhir

In [49]:
#Contoh
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Output :
```
Hello, World!
```

In [50]:
#Mulai Program Mu....
b = "  Kamu bukan siapa-siapa, pun juga dia!!! "
print(b.strip())

Kamu bukan siapa-siapa, pun juga dia!!!

###Lower()
#####Metode lower () mengembalikan string dalam huruf kecil:

In [51]:
#Contoh
a = "HELLO, World!"
print(a.lower())

hello, world!

Output :
```
hello, world!
```

In [52]:
b = "  KAMU bukan siapa-siapa, pun juga DIA!!! "
print(b.lower())

  kamu bukan siapa-siapa, pun juga dia!!!

###Upper()
#####Metode upper() mengembalikan string dalam huruf besar:

In [53]:
#Contoh
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Output :
```
HELLO, WORLD!
```

In [54]:
b = "  Kamu bukan siapa-siapa, pun juga dia!!! "
print(b.upper())

  KAMU BUKAN SIAPA-SIAPA, PUN JUGA DIA!!!

###Replace()
#####Metode replace () menggantikan string dengan string lain:

In [55]:
#Contoh
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Output :
```
Jello, World!
```

###Split()
#####Metode split () membagi string menjadi beberapa substring jika menemukan contoh pemisah:

In [56]:
#Contoh
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Output :
```
['Hello', ' World!']
```

###Capitalize()
#####Metode capitalize () menggantikan karakter pertama menjadi huruf apital

In [57]:
#Contoh
a = "hello, world"
print(a.capitalize())

Hello, world

Output :
```
Hello, world
```

###Casefold()
#####Metode casefold () Mengubah string menjadi huruf kecil

In [58]:
#Contoh
a = "Hello, World"
print(a.casefold())

hello, world

###Count()
#####Metode count () Mengembalikan frekuensi nilai yang ditentukan muncul dalam string

In [59]:
# definiskan string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("Jumlah :", count)

Jumlah : 2

Output :
```
Jumlah : 2
```

###Encode()
#####Metode encode () mengembalikan string yang berada di tengah

In [60]:
a = "My name is Shintia"

x = a.encode()

print(x)

b'My name is Shintia'

###Swapcase()
#####Metode swapcase () untuk menukar kasus, huruf kecil menjadi huruf besar dan sebaliknya

In [61]:
a = "My Name is Shintia"

x = a.swapcase()

print(x)

mY nAME IS sHINTIA



---


# **Dictionary Pada Python**


---


Berbeda dengan List dan Tuple, didalam Dictionary Python setiap urutanya berisi key dan value yang bersifat tidak berurutan. 
1. Setiap key dipisahkan dari value-nya oleh titik dua (:)
2. item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
3. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

**Contoh 1:**

In [62]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 'NIM' : 180015065}
print(type(dict))

<class 'dict'>

Yuk coba buat dictionary kamu :)

In [63]:
#Membuat directory
dict={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
print(type(dict))

<class 'dict'>

## Mengakses Nilai pada Dictionary
Untuk mengakses elemen Dictionary, dapat menggunakan kurung siku yang berisi key ['key'] untuk mendapatkan value yang diinginkan.

In [64]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
print(type(dict))
print("dict['Universitas'] = ", dict['Universitas'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Tahun'] =", dict['Tahun'])
print("dict[1800015065] = ", dict[1800015065])

<class 'dict'>
dict['Universitas'] =  UAD
dict['Prodi'] = Matematika
dict['Tahun'] = 2018
dict[1800015065] =  NIM

Nah sekarang coba akses nilai di dictionary kamu, go go go

In [65]:
#Mengakses nilai directory
dict={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
print(type(dict))
print("dict['Nama'] = ", dict['Nama'])
print("dict['Alamat'] = ", dict['Alamat'])
print("dict['Instansi'] = ", dict['Instansi'])
print("dict['Prodi'] = ", dict['Prodi'])
print("dict['Angkatan'] = ", dict['Angkatan'])
print("dict['NIM'] = ", dict['NIM'])

<class 'dict'>
dict['Nama'] =  Shintia
dict['Alamat'] =  Bumi
dict['Instansi'] =  UAD
dict['Prodi'] =  Matematika
dict['Angkatan'] =  2019
dict['NIM'] =  1900015057

## Mengubah Nilai pada Dictionary
Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada

In [66]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict[1800015065] = 'Bukan NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UGM' #Menambah entri atau value
print("dict[1800015065] =", dict[1800015065]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015065] = Bukan NIM
dict['Universitas'] = UGM

In [67]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "year" : 2004
}
print(thisdict)

{'brand': 'Toyota', 'model': 'Kijang', 'year': 2004}

Sekarang sudah tau kan kalo nilai dictionary bisa diubah dan kalian sudah paham kan gimana ngubahnya, yuk dicoba dulu biar makin paham :)

In [68]:
#Mengubah nilai directory
dict={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
dict['Instansi'] = 'UGM'
dict['Prodi'] = 'Megister Matematika'
dict['Angkatan'] = '2026'
print("dict['Instansi'] =",dict['Instansi'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Angkatan'] =", dict['Angkatan'])
print(dict)

dict['Instansi'] = UGM
dict['Prodi'] = Megister Matematika
dict['Angkatan'] = 2026
{'Nama': 'Shintia', 'Alamat': 'Bumi', 'Instansi': 'UGM', 'Prodi': 'Megister Matematika', 'Angkatan': '2026', 'NIM': '1900015057'}

## Loop Melalui Dictionary

Pada bagian Pengulangan melalui Dictionary, kita dapat melakukan Loop(Pengulangan) melalui Dictionary dengan menggunakan **for** loop.

Saat melakukan pengulangan melalui Dictionary, nilai yang dikembalikan adalah kunci dari Dictionary, tetapi terdapat metode untuk mengembalikan nilai

Sebagai contoh :
Print semua nama kunci dalam Dictionary satu per satu

In [69]:
for x in thisdict:
  print(x)

brand
model
year

**Contoh 2:**

Print semua *nilai* dalam Dictionary satu per satu

In [70]:
for x in thisdict:
  print(x)

brand
model
year

**Contoh 3:**

Kita juga dapat menggunakan **values()** yang merupakan metode untuk mengembalikan nilai Dictionary

In [71]:
for x in thisdict.values():
  print(x)

Toyota
Kijang
2004

**Contoh 4:**

Ulangi kedua kunci dan nilai, dengan menggunakan metode **items()**:

In [72]:
for x, y in thisdict.items():
  print(x, y)

brand Toyota
model Kijang
year 2004

Di atas sudah diberikan contoh loop melalui directory menggunakan berbagai cara, sekarang kalian coba biar makin paham

In [73]:
#Loop Melalui Directory
list = {
    "Makanan" : "Seblak",
    "Minuman" : "Wedang",
    "Harga" : 50000
}
print(list)

{'Makanan': 'Seblak', 'Minuman': 'Wedang', 'Harga': 50000}

In [74]:
for x in list:
  print(x)

Makanan
Minuman
Harga

In [75]:
for x in list.values():
  print(x)

Seblak
Wedang
50000

In [76]:
for x, y in list.items():
  print(x, y)

Makanan Seblak
Minuman Wedang
Harga 50000

## Mengecek keanggotaan suatu key
Untuk menentukan apakah kunci tertentu ada dalam Dictionary gunakan **in** sebagai kunci

**Contoh 6:**

Cek jika "model" terdapat pada Dictionary

In [77]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "tahun" : 2004
}
if "model" in thisdict :
  print("Yes, 'model' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'model' adalah salah satu dari kunci dalam distict dictionary

Sekarang kalian coba deh cek keanggotaan suatu key yang ada di dictionary kalian, siapa tahu bukan merupakan anggota kan, bisa jadi penyusup xixixi

In [78]:
#Mengecek keanggotaan suatu key
list = {
    "Makanan" : "Seblak",
    "Minuman" : "Wedang",
    "Harga" : 50000
}
if "Makanan" in list :
  print("Yes, 'Makanan' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'Makanan' adalah salah satu dari kunci dalam distict dictionary

## Menambah Item

Untuk menambahkan item, kita dapat menggunakan kunci index baru dengan langsung memberikan nilainya. Untuk contohnya, bisa dilihat kode di bawah ini yaa :)

In [79]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict['School'] = "DPS School" # Menambah entri baru pada thisdict

print (thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Selain menggunakan format di atas, untuk menambahkan item kita juga bisa menggunakan method update().

In [80]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Nah iya nih dalam menambah item baru pada dictionary bisa dilakukan dengan 2 cara, menurut kalian mudah yang mana, dicoba dulu biar tahu rasanya hohoho

In [81]:
#Menambah item baru pada dictionary
list={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
list.update({"Instansi":"UGM"})
list.update({"Prodi":"Megister Matematika Komputasi"})
list.update({"Angkatan":"2026"})
print(list)

{'Nama': 'Shintia', 'Alamat': 'Bumi', 'Instansi': 'UGM', 'Prodi': 'Megister Matematika Komputasi', 'Angkatan': '2026', 'NIM': '1900015057'}

## Menghapus Item

Untuk menghapus item yang ada pada Dictionary, kita bisa menggunakan perintah del, method pop(), method popitem(), dan method clear().

- Fungsi del adalah fungsi untuk menghapus suatu variabel dari memori.

- Method pop() adalah method yang berfungsi untuk mengeluarkan item yang diinginkan dari dictionary.

- Method popitem() adalah method yang digunakan untuk menghapus item yang terakhir.

- Method clear() adalah method yang digunakan untuk mengosongkan dictionary.

In [82]:
#Menghapus item menggunakan del
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del thisdict["Name"]

print(thisdict)

{'Age': 7, 'Class': 'First'}

In [83]:
#Menghapus item menggunakan method pop()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.pop("Age")

print(thisdict)

{'Name': 'Zara', 'Class': 'First'}

In [84]:
#Menghapus item menggunakan method popitem()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.popitem()

print(thisdict)

{'Name': 'Zara', 'Age': 7}

In [85]:
#Menghapus item menggunakan method clear()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.clear()

print(thisdict)

{}

Dan kalo menghapus dictionary ternyata ada 4 cara lohh, pada contoh di atas sudah jelas kan, supaya tambah jelas silahkan dicoba yaa ;)

In [86]:
#Menghapus item menggunakan del
list={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
del list["Nama"]
print(list)

#Menghapus item menggunapak method pop()
list={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
list.pop("Alamat")
print(list)

#Menghapus item menggunakan method popitem()
list={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
list.popitem()
print(list)

#Menghapus item menggunakan method clear()
list={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
list.clear()
print(list)

{'Alamat': 'Bumi', 'Instansi': 'UAD', 'Prodi': 'Matematika', 'Angkatan': '2019', 'NIM': '1900015057'}
{'Nama': 'Shintia', 'Instansi': 'UAD', 'Prodi': 'Matematika', 'Angkatan': '2019', 'NIM': '1900015057'}
{'Nama': 'Shintia', 'Alamat': 'Bumi', 'Instansi': 'UAD', 'Prodi': 'Matematika', 'Angkatan': '2019'}
{}

## Menyalin Dictionary

Untuk menyalin dictionary, kita dapat menggunakan method copy().

In [87]:
#Menggunakan method copy()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
mydict=thisdict.copy()

print(mydict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

Yuk coba salin dictionary yang telah kalian buat tadi, biar bisa diotak atik lagi xixixi

In [88]:
#Menyalin dictionary
list={'Nama':'Shintia','Alamat':'Bumi','Instansi':'UAD','Prodi':'Matematika','Angkatan':'2019','NIM':'1900015057'}
mydict = list.copy()
print(mydict)

{'Nama': 'Shintia', 'Alamat': 'Bumi', 'Instansi': 'UAD', 'Prodi': 'Matematika', 'Angkatan': '2019', 'NIM': '1900015057'}

## Nested Dictionary
Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

Kita akan membuat sebuah contoh Kamus yang memuat 3 kamus di dalamnya

In [102]:
Keluarga_afif={
    "anak1":{
        "nama":"dera",
        "Tanggal Lahir": 19012000
    },
    "anak2":{
        "nama":"Joko",
        "Tanggal Lahir": 17091997 
    },
    "anak3":{
        "nama":"Asih",
        "Tanggal Lahir": 20022000
    }
}

print(Keluarga_afif)

{'anak1': {'nama': 'dera', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

Kita akan membuat suatu Kamus yang akan berisi 3 kamus lainnya

In [90]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

{'anak1': {'nama': 'Rikma', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

Atau kita juga dapat menggunakan fungsi dict() untuk membuat kamus yang baru

In [119]:
Indoapril=dict(barang='Minuman', merek='BearBrand', harga=7000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

TypeError: ignored

Paham belum nih tentang materi nested dictionary, coba sekarang kalian buat dan pahami, nanti pasti paham kalo udah nyoba ;)

In [106]:
daftar_belanja={
    "cuci1":{
        "sabun":"rinso",
        "harga": 10300
    },
    "cuci2":{
        "sabun":"palmolive",
        "harga": 27700 
    },
    "cuci3":{
        "sabun":"cosrxGMG",
        "harga": 85900
    }
}

print(daftar_belanja)

{'cuci1': {'sabun': 'rinso', 'harga': 10300}, 'cuci2': {'sabun': 'palmolive', 'harga': 27700}, 'cuci3': {'sabun': 'cosrxGMG', 'harga': 85900}}



---


#**Berbagai Method untuk Dictionary**

---

- clear() : Menghapus semua elemen dictionary
- copy() : Mengembalikan salinan dictionary
- fromkeys() : Buat Dictionary baru dengan kunci dari seq dan nilai yang disetel ke nilai.
- get() : Mengembalikan nilai dari kunci yang ditentukan
- items() : Mengembalikan daftar dari pasangan tuple dictionary (key, value)
- keys() : Mengembalikan daftar key dictionary
- pop() : Menghapus item kunci yang disebutkan
- popitem() : Menghapus item yang terakhir dimasukkan
- setdefault() : Mengembalikan nilai dari kunci yang ditentukan. Jika kunci tidak ada: masukkan kunci dengan nilai yang ditentukan
- update() : Menambah pasangan kunci yang diinginkan
- values() : Mengembalikan daftar nilai dictionary

## Clear()
Untuk menghapus semua item/elemen yang termuat didalam dictionary, gunakan fungsi **clear()**

dictionary.clear

print(dictionary)

In [95]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2019 , 1900015057 : 'NIM'}
dict.clear()
print(dict)

{}

## Copy()
Untuk mengcopy/menyalin item didalam dictionary, bisa digunakan fungsi **copy()**

In [96]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2019 , 1900015057 : 'NIM'}
C=dict.copy()
print(C)

{'Universitas': 'UAD', 'Prodi': 'Matematika', 'Tahun': 2019, 1900015057: 'NIM'}

##Fromkeys()
Untuk menyalin elemen di dalam dictionary, namun dengan kunci(key) dan nilai(value) tertentu, dapat menggunakan fungsi **fromkeys()**

In [97]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2019 , 1900015057 : 'NIM'}
x = ('Universitas', 'Prodi')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Universitas': 0, 'Prodi': 0}

## Get()

In [99]:
car =	{
  "brand": "bmw",
  "model": "6-series",
  "year": 2021
}

print(car.get('model'))

6-series

##Items()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

##Pop()

Menghapus item kunci sekaligus value yang disebutkan,mari kita lihat contohnya dibawah ini

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
indoapril.pop('Barang')
print(indoapril)

{'Merek': 'Bandai', 'Jumlah': 200}

## Popitem()

Menghapus item yang terakhir dimasukkan

In [ ]:
#Kita akan menghilangkan pelakor dalam "kehidupan_keluarga"
kehidupan_keluarga={'suami':'Budi','istri':'Dewi','pelakor':'Sari'}
kehidupan_keluarga.popitem()
print(kehidupan_keluarga)

{'suami': 'Budi', 'istri': 'Dewi'}

## Update()

Menambahkan pasangan kunci yang diinginkan

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':2000}
indoapril.update({'Tanggal_Masuk': 12022020})
print(indoapril)

{'Barang': 'Gundam', 'Merek': 'Bandai', 'Jumlah': 2000, 'Tanggal_Masuk': 12022020}

## Values()

Mengembalikan daftar nilai pada dictionary

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
a=indoapril.values()
print(a)

dict_values(['Gundam', 'Bandai', 200])

## len()

Method len digunakan untuk mengetahui banyaknya item yang ada pada directory

In [98]:
car =	{
  "brand": "bmw",
  "model": "6-series",
  "year": 2021
}

print(len(car))

3

#The End Of Notebook

Alhamdulillah