![alt text](https://drive.google.com/uc?id=1oZeOBAOozxedBi-jq-LzN8BQd0NB7Ocy
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk **Kelas Dasar Pejuang Data Sains 2.0** .

Ini adalah **Notebook Variabel & Tipe Data**:

## **Hasil Yang Ingin Dicapai**
1. Memahami input dan output pada python
2. Mengenal dan memahami variabel dan tipe data pada python
3. Mengenal dan memahami struktur data pada python

### ***!!!***

***Sebelum memulai mempelajari notebook ini, jangan lupa untuk menyalinnya di drive masing-masing ya.***

### ***!!!***

##  **Input & Output pada Pyhton**

Kita akan memulai dengan mencoba mengenal dan memahami proses input dan output pada bahasa pemrograman python. Sebuah Program terdiri dari Input, Proses dan Output

**Membuat input dengan fungsi input()**

format input() :
input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

* input() : nilai berupa string

* str(input()) : nilai berupa string

* int(input()) : nilai berupa integer

* float(input()) : nilai berupa float

* bool(input()) : nilai berupa boolean

**Untuk menampilkan Output dengan fungsi print()**

format print() :
print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [1]:
# Membuat input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")

Nama : SHINTIA YULITA SARI
Umur : 18
Alamat : BUMI

In [2]:
print(nama)
print(umur)
type(nama)

SHINTIA YULITA SARI
18

str

In [3]:
# Membuat input bertipe data integer (int)
angka1 = int(input())
print(angka1)

88
88

In [4]:
# Membuat input beripe data float
angka2 = float(input())
print(angka2)

88
88.0

Saatnya kamu mencoba!!!

In [5]:
Nama = input("Nama : ")
NIM = input("NIM : ")
Instansi = input("Instansi : ")
Fakultas = input("Fakultas : ")
Prodi = input("Prodi :" )
Angkatan = int(input("Angkatan : "))
IPK = float(input("IPK : "))

Nama : SHINTIA YULITA SARI
NIM : 19000150000
Instansi : UAD
Fakultas : FAST
Prodi :MATEMATIKA
Angkatan : 2019
IPK : 5.5

**Menampilkan Output cara pertama**

In [6]:
print("Nama saya"+" "+ nama + " " + "yang berumur"+ " " + umur + " " + "dan bertempat tinggal di"+ " " + alamat)

Nama saya SHINTIA YULITA SARI yang berumur 18 dan bertempat tinggal di BUMI

Saatnya kamu mencoba!!!

In [7]:
print(' nama saya'+" " +'universitas'+ " " +' kota')
print('Nama saya'+""+Nama+""+'dengan NIM'+""+NIM+""+'dari kampus'+""+Instansi+""+'dan asal'+""+alamat)
print('Nama saya'+" "+Nama+" "+'dengan NIM'+" "+NIM+" "+'dari kampus'+" "+Instansi+" "+'dan asal'+" "+alamat)

 nama saya universitas  kota
Nama sayaSHINTIA YULITA SARIdengan NIM19000150000dari kampusUADdan asalBUMI
Nama saya SHINTIA YULITA SARI dengan NIM 19000150000 dari kampus UAD dan asal BUMI

**Menampilkan Output cara kedua**

Menggunakan fungsi format()

In [9]:
txt1 = "Nama saya {nama}, Saya berumur {umur}".format(nama = "Shintia", umur = 18)
txt1

'Nama saya Shintia, Saya berumur 18'

In [10]:
txt2 = "Nama saya {0}, Saya berumur {1}".format("Shintia",18)
txt2

'Nama saya Shintia, Saya berumur 18'

In [11]:
txt3 = "Nama saya {}, Saya berumur {}".format("Shintia",18)
txt3

'Nama saya Shintia, Saya berumur 18'

Saatnya kamu mencoba!!!

In [12]:
txt = "Nama saya {}, dari kampus {} prodi {} angkatan {}.".format("Shintia","UAD","Matkom",2019)
txt

'Nama saya Shintia, dari kampus UAD prodi Matkom angkatan 2019.'

**Menampilkan Output cara ketiga**

Menggunakan simbol %

* %c : mencetak karakter

* %s : mencetak data menjadi string

* %i, %d : mencetak angka desimal bertanda
* %u : mencetak angka desimal tak bertanda
* %x, %X : mencetak angka heksa dengan huruf kecil %x atau besar %X
* %f : mencetak angka real berkoma
* %e, %E : mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G : fungsi hampir sama dengan %f dan %e hanya saja pencetakan angak di belakang koma lebih pendek

In [13]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Nama saya SHINTIA YULITA SARI yang berumur 18 dan bertempat tinggal di BUMI

Saatnya kamu mencoba!!!

In [14]:
print("Nama saya %s sedang berkuliah di prodi %s %s angkatan %s dan sudah mencapai IPK %g." %(Nama, Prodi, Instansi, Angkatan, IPK))

Nama saya SHINTIA YULITA SARI sedang berkuliah di prodi MATEMATIKA UAD angkatan 2019 dan sudah mencapai IPK 5.5.

## **Variabel, Tipe Data, Dan Konversinya**

Selanjutnya kita akan mengenal variabel dan tipe data pada python. Ini merupakan dasar yang harus dipahami di awal sebelum melanjutkan ke materi berikutnya. Pertama kita akan memahami bagaimana sebuah variabel dituliskan dalam python.

### Variabel

*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**Membuat sebuah variabel dengan berbagai tipe data Python**

In [17]:
var1 = 'Assalamualaikum Dunia!' #String
var2 = 1234567890 # int
var3 = 0.123456789 # float
var4 = False #bool
var5 = 1j+1 #complex

Buat variabelmu sendiri di bawah ini ya!

In [18]:
var7=' belajar bersama Pejuang Data'
print(var7)
var8 = 'Alhamdulillah, terima kasih.'
var9 = 1900015000
var10 = 19.00015000
var11 = True
var12 = 9j+8

 belajar bersama Pejuang Data

**Memanggil variabel dan menampilkan**

Kamu dapat memanggil variabel hanya dengan menuliskan variabel yang sudah kamu buat di atas dan menjalankan cellnya

In [19]:
var1

'Assalamualaikum Dunia!'

Saatnya kamu mencoba!!!

In [20]:
var8

'Alhamdulillah, terima kasih.'

Selain itu, kamu juga bisa mencetak, atau menampilkan variabel yang sudah kamu buat dengan cara memasukkan syntak **print(*variable*)**. Contohnya sebagai berikut:

In [21]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Assalamualaikum Dunia!
1234567890
0.123456789
False
(1+1j)

Sekarang, tampilkan variabelmu sendiri:

In [22]:
#Mencetak variabel punya kamuuch
#String
print(var8)
#Int
print(var9)
#Float
print(var10)
#Boolean
print(var11)
#Complex
print(var12)

Alhamdulillah, terima kasih.
1900015000
19.00015
True
(8+9j)

Note: Tanda Pagar (#) berfungsi sebagai komentar, tidak dijalankan sebagai perintah pemrograman

### Tipe Data

Tipe data adalah kumpulan tipe yang dapat kamu temukan di semua data. Dengan memahami tipe data, kamu dapat menentukan nilai data yang dimiliki dari data tersebut.


**Mengenal Beberapa Tipe Data Pada Python:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)

**Melihat Tipe Data dari Suatu Variabel**

Kamu bisa melihat tipe variabel yang sudah kamu buat,apakah tipe data kamu adalah int, float, boolean, string, dll menggunakan fungsi **type(*variabel*)**, sebagai berikut:

In [23]:
type(var1)

str

Sekarang coba kamu cek tipe variabel yang udah kamu buat!!!

In [24]:
#Mengecek tipe variabel
#String
type(var8)
#Int
type(var9)
#Float
type(var10)
#Boolean
type(var11)
#Complex
type(var12)

complex

Kok yang tampil cuma yang terakhir!!!, ya emang begitu, python hanya akan ngejalanin line terakhir untuk ditampilin, biar tampil semua maka kita print aja seperti di bawah ini:

In [25]:
print(var8,'Tipe data var1:', type(var8))
print(var9,'Tipe data var2:', type(var9))
print(var10,'Tipe data var3:', type(var10))
print(var11,'Tipe data var4:', type(var11))
print(var12,'Tipe data var5:', type(var12))

Alhamdulillah, terima kasih. Tipe data var1: <class 'str'>
1900015000 Tipe data var2: <class 'int'>
19.00015 Tipe data var3: <class 'float'>
True Tipe data var4: <class 'bool'>
(8+9j) Tipe data var5: <class 'complex'>

### Konversi Tipe Data

Capek gag sih, bikin data baru mulu untuk sebuah tipe data yang berbeda. Kalo capek ya udah, rehat dulu. Nah ada cara lain sih, yaitu dengan mengubah tipe data yang udah kita miliki menjadi tipe data yang kita inginkan. Kadang gag harus ganti kan, cukup komit untuk merubah hal-hal yang sudah ada sesuai keinginan kita. OK Lanjuut.

Intinya mah misal kita punya variabel tipenya int tapi kita butuh variabel itu jadi float ya kita bisa konversi, gimana caranya?

Pake fungsi donk, fungsinya macem-macem, tapi intinya adalah fungsinya bernama tipe data baru yang ingin kita buat kemudian inputnya adalah tipe data yang mau kita ubah. Begono.

Bingung?
Ini lho macam-macam fungsinya:

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya ini ya:

In [26]:
number = 10
print("data =", number, ", type =", type(number))

data = 10 , type = <class 'int'>

In [27]:
# Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  10.0 ,type = <class 'float'>
data =  10 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

Saatnya kamu mencoba!!!

In [ ]:
number = 0

kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number)

print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  0.0 ,type = <class 'float'>
data =  0 ,type = <class 'str'>
data =  False ,type = <class 'bool'>

In [ ]:
number = -1

kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number)

print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  -1.0 ,type = <class 'float'>
data =  -1 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [ ]:
number = 99.9

kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number)

print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  99.9 ,type = <class 'float'>
data =  99.9 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

## **Berbagai Struktur Data di Python**

### **List**

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

*Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.*

In [ ]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

Bikin versimu sendiri donk, jangan baca doank! heheheh

In [28]:
x = ['NIM', 1900015000, 'Prodi Matematika', 'IPK', 5.5]
x

['NIM', 1900015000, 'Prodi Matematika', 'IPK', 5.5]

Python mengenal slicing operator [ ] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

* x[0] artinya mengambil elemen paling awal, dengan  index 0 dari List x.

* x[5] artinya mengambil elemen dengan index 5 dari List x.

* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [ ]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

Cobain ya!

In [ ]:
x = [-1,2,5,8,11,14,17,20,23,26,29,32]
print(x[1])
print(x[0])
print(x[-3])
print(x[2:5])
print(x[:6])
print(x[-2:])
print(x[2:])
print(x[1:12:2])

2
-1
26
[5, 8, 11]
[-1, 2, 5, 8, 11, 14]
[29, 32]
[5, 8, 11, 14, 17, 20, 23, 26, 29, 32]
[2, 8, 14, 20, 26, 32]

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

In [ ]:
#Mengganti elemen
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [ ]:
#Menambah elemen
x = [1,2,3]
x[2]=4
x.append(5) #append artinya menambah
print(x)

[1, 2, 4, 5]

Saatnya kamu mencoba!

In [ ]:
z = [1,9,0,0,0,1,5,0]
z[3] = 88
print(z)
z.append(77)
print(z)

[1, 9, 0, 88, 0, 1, 5, 0]
[1, 9, 0, 88, 0, 1, 5, 0, 77]

Untuk menghapus item pada list, gunakan fungsi del. *Ingat bahwa Indeks Python dimulai dari 0*:

In [ ]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

Do it by yourself

In [ ]:
namaku = ['shintia','shin','yulita','sari']
del namaku[1]
print(namaku)

['shintia', 'yulita', 'sari']

Coba tambahkan kembali:

In [ ]:
del binatang [2]
print(binatang)

['kucing', 'rusa']

Cobain yaa!

In [ ]:
del namaku[1]
print(namaku)

['shintia', 'sari']

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [ ]:
s = "Assalamualaikum Dunia!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

l
muala
Halo Dunia!

In [ ]:
s[5]="d"        #ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

TypeError: ignored

Cobain yaa!

In [ ]:
q = 'Alhamdulillah Terima Kasih'
print(q[3])
print(q[0:15])
w = "Hallo guys!"
print(w)

a
Alhamdulillah T
Hallo guys!

### **Tuple**

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [ ]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:2])
print(t[0:1:3])

program
(5, 'program')
(5,)

In [ ]:
print(t[0]=10) #Kok gagal, kenapa hayoooooo

TypeError: ignored

jawab : karena elemen didalam tupel tidak dapat diubah

In [ ]:
a = (0, 0, 1,'kita')
print (a)
print(a[3])
del[]

(0, 0, 1, 'kita')
kita

### **Set**

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [ ]:
a = {1,2,3}
print(a[1])

TypeError: ignored

### **Dictionary**

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

In [ ]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
# Nyobain error
print("d[2] = ", d[2]);

KeyError: ignored

In [ ]:
#bikin versimu sendiri yaaa
wow = {1:'bubur ayam',2:'sate',3:'ayam bakar','nasdang':4}
print(type(wow))
print("wow[1]= ",wow[1]);
print("wow[2]= ",wow[2]);
print("wow[3]= ",wow[3]);
print("wow['nasdang']= ",wow['nasdang']);

<class 'dict'>
wow[1]=  bubur ayam
wow[2]=  sate
wow[3]=  ayam bakar
wow['nasdang']=  4

### **Konversi Struktur Data**

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

Nah sampai sini, coba kamu tulis pemahaman kamu tentang List, Tuple, Set, dan Dictionary, tulis pake bahasa kamu sendiri ya:

Struktur data pada python ada 4, yaitu list, tuple, set, dan dictionary.


1. List
    * kumpulan data yang terurut,
    * elemennya bisa menggunakan tipe data yang berbeda,
    * didefinisikan dengan kurung siku dan elemennya dipisah dengan tanda koma.
2. Tuple
    * sama dengan list, hanya saja elemen pada tuple tidak bisa diubah,
    * digunakan untuk data yang sekali tulis, namun lebih cepat diproses,
    * didefinisikan dengan kurung dan elemennya dipisah dengan tanda koma.
3. Set
    * elemennya berupa kumpulan item yang unik dan tidak berurut
    * dapat melakukan union dan intersection,
    * otomatis melakukan penghapusan data yang sama,
    * tidak bisa mengambil sebagian elemen data,
    * didefinisikan dengan kurung kurawal dan elemennya dipisah dengan tanda koma.

4. Disctionary
    * elemennya berupa kumpulan pasangan key-value yang sifatnya tidak berurutan,
    * bisa digunakan untuk menyimpan data kecil - besar,
    * untuk mengakses datanya, maka harus mengetahui key,
    * didefinisikan dengan kurung kurawal; setiap elemen pair key-value dipisah dengan tanda koma; key-value dipisah dengan titik dua; dan key-value dapat berupa tipe variabel/ objek appaun.

#**Udah Dulu Ya**

Alhamdulillah